@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.wrapper-modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: -17px;
}

.wrapper-modal .modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  max-height: calc(100vh - 0px);
  overflow-y: auto;
  scrollbar-width: none;
  min-width: auto;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper-modal .modal-main .modal-header {
  padding: 12px;
}

.wrapper-modal .modal-main .modal-header .headline {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #434364;
}

.wrapper-modal .modal-main .modal-header .sub-headline {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}

.wrapper-modal .modal-main .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

@media (max-width: 599px) {
  .wrapper-modal .modal-main .modal-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .wrapper-modal .modal-main .modal-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .wrapper-modal .modal-main .modal-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal .modal-main .modal-body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1800px) {
  .wrapper-modal .modal-main .modal-body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper-modal .modal-main .modal-body .basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .wrapper-modal .modal-main .modal-body .basic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .wrapper-modal .modal-main .modal-body .basic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .wrapper-modal .modal-main .modal-body .basic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal .modal-main .modal-body .basic {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1800px) {
  .wrapper-modal .modal-main .modal-body .basic {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper-modal .modal-main .modal-body .basic .image {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 12px 12px 30px 12px;
}

.wrapper-modal .modal-main .modal-body .basic .image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.wrapper-modal .modal-main .modal-body .basic .image .tag {
  height: 29px;
  width: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  left: 45px;
  border-radius: 2px;
  background: #434364;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.wrapper-modal .modal-main .modal-body .basic .description {
  margin: 12px 12px 30px 12px;
}

.wrapper-modal .modal-main .modal-body .basic .description .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper-modal .modal-main .modal-body .basic .description .name-container .name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #434364;
  text-transform: capitalize;
  margin-right: 12px;
}

.wrapper-modal .modal-main .modal-body .basic .description .name-container .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23px;
  width: 44px;
  background: #D175C9;
  border-radius: 2px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
}

.wrapper-modal .modal-main .modal-body .basic .description .walet {
  margin-top: 18px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #434343;
}

.wrapper-modal .modal-main .modal-body .basic .description .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.wrapper-modal .modal-main .modal-body .basic .description .info-container img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.wrapper-modal .modal-main .modal-body .basic .description .info-container .info .tag {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
}

.wrapper-modal .modal-main .modal-body .basic .description .info-container .info .value {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
  text-transform: capitalize;
}

.wrapper-modal .modal-main .modal-body .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 18px 0px;
}

@media (max-width: 599px) {
  .wrapper-modal .modal-main .modal-body .action {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 600px) {
  .wrapper-modal .modal-main .modal-body .action {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) {
  .wrapper-modal .modal-main .modal-body .action {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal .modal-main .modal-body .action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1800px) {
  .wrapper-modal .modal-main .modal-body .action {
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
  }
}

.wrapper-modal .modal-main .modal-body .action .button--edit {
  background: #E2136E;
  height: 40px;
  width: 140px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 12px;
}

.wrapper-modal .modal-main .modal-body .action .button--view-log {
  background: white;
  height: 40px;
  width: 140px;
  border: none;
  outline: none;
  border: 1px solid #E2136E;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #E2136E;
  margin: 12px;
}

.wrapper-modal .modal-main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .wrapper-modal .modal-main .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .wrapper-modal .modal-main .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .wrapper-modal .modal-main .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .wrapper-modal .modal-main .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1800px) {
  .wrapper-modal .modal-main .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper-modal .modal-main .footer .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 12px 18px 12px;
}

.wrapper-modal .modal-main .footer .info-container img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.wrapper-modal .modal-main .footer .info-container .info .tag {
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #707070;
}

.wrapper-modal .modal-main .footer .info-container .info .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-modal .modal-main .footer .info-container .info .values .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 8px 2px 0px;
  background: #FFEDF6;
  border-radius: 2px;
  width: 63px;
  height: 28px;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto;
  font-weight: 400;
  color: #252525;
  text-transform: uppercase;
}

.wrapper-modal .modal-main .footer .button--replace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  min-width: 161px;
  min-height: 41px;
  padding: 0px;
  margin: 30px 12px 18px 12px;
  border: 1px solid #E2136E;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  color: #E2136E;
}

.wrapper-modal .modal-main .footer .button--replace img {
  margin-right: 8px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
/*# sourceMappingURL=LogModal.css.map */